aliases-local.zsh
settings-local.zsh
.config
.netrwhist
zsh/work.zsh

config/nvim/plugged
config/nvim/projects.txt
config/karabiner/automatic_backups
config/karabiner/karabiner.json
config/lvim/plugin/packer_compiled.lua
config/nvim/plugin/packer_compiled.lua
