aliases-local.zsh
settings-local.zsh
.config
.netrwhist

config/karabiner/automatic_backups
config/karabiner/karabiner.json
config/nvim/plugged
config/nvim/projects.txt
config/oni/plugged
config/oni/config.js
config/brittany
config/configstore
config/gcloud
config/gocode
config/htop
config/hub
config/filezilla
config/gtk-2.0
config/inkscape
config/yarn
config/nnn
config/coc
config/git
!config/nnn/plugins/fzfz

