"*":
  "atom-beautify":
    general:
      _analyticsUserId: "d8ae87d4-2a3c-4a4b-9baf-8439c37289e3"
    go:
      disabled: true
    js: {}
  "atom-terminal":
    app: "/Applications/iTerm.app"
    surpressDirectoryArgument: false
  "autocomplete-plus":
    useCoreMovementCommands: false
  core:
    telemetryConsent: "no"
    warnOnLargeFileLimit: 2
  editor:
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "55402b61-6e86-16de-5aef-c3ef9fe96cea"
  "git-plus": {}
  "go-debug":
    panelInitialVisible: false
  "go-plus":
    goPath: "/Users/nick/code"
    panelDisplayMode: "closed"
  gofmt:
    formatTool: "gofmt"
  "gometalinter-linter": {}
  "haskell-ghc-mod":
    ghcModPath: "/Users/nick/.cabal/packages/hackage.haskell.org/ghc-mod"
  "language-elm": {}
  linter:
    subtleLinterErrors: [
      "golinter"
    ]
  "linter-golinter":
    executablePath: "/Users/nick/code/bin/golint"
  "linter-hlint":
    hlintExecutablePath: "/Users/nick/.cabal/bin/hlint"
  "linter-ui-default":
    panelHeight: 231
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    useEslint: true
  "project-manager": {}
  "relative-numbers":
    softWrapsCount: false
  "tree-view": {}
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".clojure.source":
  editor:
    preferredLineLength: 120
".diff":
  editor:
    preferredLineLength: 120
    tabLength: 4
".diff.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".elm.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.regexp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".raml.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
