"*":
  "atom-beautify":
    general:
      _analyticsUserId: "d8ae87d4-2a3c-4a4b-9baf-8439c37289e3"
    go:
      disabled: true
    js: {}
    json:
      indent_size: 2
      jslint_happy: true
    python:
      beautify_on_save: true
  "atom-spotify2":
    displayOnLeftSide: false
    showPlayStatus: false
  "atom-terminal":
    app: "/Applications/iTerm.app"
    surpressDirectoryArgument: false
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
  "autocomplete-paths":
    ignoredPatterns: [
      "**/node_modules"
    ]
  "autocomplete-plus":
    confirmCompletion: "enter"
    suppressActivationForEditorClasses: [
      "narrow"
    ]
    useCoreMovementCommands: false
  "autocomplete-python":
    useKite: false
  core:
    customFileTypes:
      "source.gotemplate": [
        "tmpl"
      ]
    disabledPackages: [
      "spell-check"
      "go-plus"
      "go-signature-statusbar"
      "linter-golinter"
      "term3"
      "language-elm"
    ]
    packagesWithKeymapsDisabled: [
      "goto-definition"
      "term3"
      "emmet"
    ]
    projectHome: "/Users/nick/code"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "one-dark-lite-syntax"
    ]
    titleBar: "hidden"
    warnOnLargeFileLimit: 2
  editor:
    fontFamily: "SF Mono"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "ex-mode":
    splitbelow: true
    splitright: true
  "exception-reporting":
    userId: "55402b61-6e86-16de-5aef-c3ef9fe96cea"
  "git-blame":
    columnWidth: 411
  "git-plus": {}
  "go-debug":
    panelInitialVisible: false
  "go-plus":
    disabledBundledPackages: [
      "hyperclick"
      "go-debug"
    ]
    goPath: "/Users/nick/code"
    panel:
      displayMode: "closed"
      focusOnFailure: false
    panelDisplayMode: "closed"
    test:
      runTestsOnSave: false
      runTestsWithCoverage: false
      runTestsWithShortFlag: false
  gofmt:
    formatTool: "gofmt"
  "gometalinter-linter": {}
  "goto-definition":
    contextMenuDisplayAtFirst: false
    performanceMode: true
  "haskell-ghc-mod":
    ghcModPath: "/Users/nick/.cabal/packages/hackage.haskell.org/ghc-mod"
  "language-elm": {}
  linter:
    subtleLinterErrors: [
      "golinter"
    ]
  "linter-eslint": {}
  "linter-golinter":
    executablePath: "/Users/nick/code/bin/golint"
  "linter-hlint":
    hlintExecutablePath: "/Users/nick/.cabal/bin/hlint"
  "linter-pycodestyle":
    ignoreErrorCodes: [
      "E722"
      "E501"
    ]
  "linter-refmt":
    refmtPath: "/usr/local/bin/refmt"
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 69
    showPanel: true
  narrow:
    Scan:
      directionToOpen: "down"
    SelectFiles: {}
    Symbols:
      directionToOpen: "down"
    notifiedVimModePlusSpecificDefaultKeymap: true
  "ocaml-merlin": {}
  "platformio-ide-terminal":
    ansiColors:
      zBright:
        brightBlue: "#268bc8"
        brightCyan: "#28a198"
        brightGreen: "#859901"
        brightRed: "#dc322f"
        brightWhite: "#7d9496"
        brightYellow: "#b58901"
    style:
      animationSpeed: 2
      theme: "one-dark"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      excludedGlobs: [
        "**/*.html"
      ]
    prettierOptions:
      parser: "flow"
      semi: false
    useEslint: true
  "project-manager": {}
  "reason-refmt":
    refmtPath: "/usr/local/bin/refmt"
  "relative-numbers":
    softWrapsCount: false
  term3:
    colors:
      background: "#282c34"
      brightBlue: "#268bc8"
      brightCyan: "#28a198"
      brightGreen: "#859901"
      brightRed: "#dc322f"
      brightWhite: "#7d9496"
      brightYellow: "#b58901"
      foreground: "#9aabad"
      normalRed: "#dc322f"
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    clearMultipleCursorsOnEscapeInsertMode: true
    highlightSearch: false
    defaultScrollRowsOnMiniScroll: 3
    highlightSearchExcludeScopes: [
      "narrow"
    ]
    ignoreCaseForSearch: true
    incrementalSearch: true
    keymapPToPutWithAutoIndent: true
    maxFoldableIndentLevel: 0
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    smoothScrollOnHalfScrollMotionDuration: 250
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".clojure.source":
  editor:
    preferredLineLength: 120
".diff":
  editor:
    preferredLineLength: 120
    tabLength: 4
".diff.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".elm.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.regexp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".raml.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
