# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
#
# You can find more information about keymaps in this guide:
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/

# global key bindings
'atom-workspace:not([mini])':
    # vim jumplist emulation (cursor-history plugin)
    'ctrl-i':     'cursor-history:next'
    'ctrl-o':     'cursor-history:prev'

    # https://github.com/t9md/atom-vim-mode-plus/issues/526#issuecomment-262701696
    'ctrl-g': 'core:cancel'

'atom-text-editor:not([mini])':
  # platformio-ide-terminal navigation keybindings
  'ctrl-alt-j': 'platformio-ide-terminal:focus'
  'ctrl-alt-k': 'platformio-ide-terminal:focus'

  # enable pressing space when writing in CAPS
  'shift-space': 'custom:space'

'atom-text-editor':
    'ctrl-k': 'unset!'

# vim-mode-plus
# =============
# vim mode plus guys dotfiles https://github.com/t9md/dotfiles/blob/master/atom/keymap.cson

# insert mode bindings
'atom-text-editor.vim-mode-plus.insert-mode':
    'j k': 'vim-mode-plus:activate-normal-mode'
    # ignore all leader key bindings in insert-mode
    'space': 'native!'

# normal mode bindings
'atom-text-editor.vim-mode-plus.normal-mode':
    'space w': 'core:save'
    'space q': 'core:close'
    'space x': 'custom:save-and-quit'
    # ':': 'vim-mode-plus-ex-mode:open'

    # vim-surround
    'y s': 'vim-mode-plus:surround'
    'd s': 'vim-mode-plus:delete-surround'
    'c s': 'vim-mode-plus:change-surround'

    # vim-unimpaired
    '] space': 'vim-mode-plus:add-blank-line-below'
    '[ space': 'vim-mode-plus:add-blank-line-above'

    # make Y work like C and D
    'Y': 'vim-mode-plus:yank-to-last-character-of-line'

    # clear highlighted search
    'space /': 'vim-mode-plus:clear-highlight-search'

# not insert mode bindings (normal and visual)
'atom-text-editor.vim-mode-plus:not(.insert-mode)[data-grammar="source go"]':
    'g d': 'golang:godef'

# not insert mode bindings (normal and visual)
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
    # bindings duplicated in .tree-view and vim-mode-plus:not(.insert-mode)
    # so they are not active in `/` container, `file-finder` container etc
    'space e': 'tree-view:toggle'
    'space f': 'fuzzy-finder:toggle-file-finder'

    # vim-like window navigation for pane and panels
    'ctrl-j': 'focus-pane-or-panel:focus-below'
    'ctrl-k': 'focus-pane-or-panel:focus-above'
    'ctrl-h': 'focus-pane-or-panel:focus-on-left'
    'ctrl-l': 'focus-pane-or-panel:focus-on-right'

    # vim-like bindings for moving panes
    'ctrl-w j': 'window:move-active-item-to-pane-on-below'
    'ctrl-w k': 'window:move-active-item-to-pane-on-above'
    'ctrl-w h': 'window:move-active-item-to-pane-on-left'
    'ctrl-w l': 'window:move-active-item-to-pane-on-right'

    # split and duplicate (default vim splits)
    'ctrl-v': 'pane:split-right-and-copy-active-item'
    'ctrl-s': 'pane:split-down-and-copy-active-item'
    # split and move
    'ctrl-w v': 'pane:split-right-moving-current-tab'
    'ctrl-w s': 'pane:split-down-moving-current-tab'
    # merge all panes together again
    'ctrl-w m': 'pane:merge-all-panes'

    # fix j and k to include soft wrapping
    'j': 'vim-mode-plus:move-down-screen'
    'k': 'vim-mode-plus:move-up-screen'

    # disable noob navigation and enable quick pane resizing
    'up': 'pane:increase-size'
    'down': 'pane:decrease-size'
    'left': 'core:nop'
    'right': 'core:nop'

    # emulate vim-commentary binding
    'g c': 'vim-mode-plus:toggle-line-comments'

    # vim tabs https://atom.io/packages/atom-vim-like-tab
    'space t e': 'atom-vim-like-tab:new' # mean 'tab create'
    'space t c': 'atom-vim-like-tab:close'
    'g T': 'atom-vim-like-tab:previous'
    'g t': 'atom-vim-like-tab:next'
    'space t l': 'atom-vim-like-tab:list'

    # unimpaired style next/prev function
    '] f': 'vim-mode-plus:move-to-next-function'
    '[ f': 'vim-mode-plus:move-to-previous-function'

    # blackhole register shortcut
    # https://github.com/t9md/atom-vim-mode-plus/wiki/TIPS#delete-without-saving-to-register
    '\\': 'vim-mode-plus:set-register-name-to-_'

    # faster vertical viewport scrolling
    'ctrl-e': 'vim-mode-plus-user:scroll-three-lines-down'
    'ctrl-y': 'vim-mode-plus-user:scroll-three-lines-up'

    # Go to definition keybinding
    'g d': 'goto-definition:go'

    # narrow
    # ======
    # search in project (ag)
    'space s': 'narrow:search'
    'space S': 'narrow:search-by-current-word'
    # search lines in buffer
    'space l': 'narrow:scan'
    'space L': 'narrow:scan-by-current-word'
    # goto symbol in current file
    'g s': 'narrow:symbols'
    # Override symbols-view:toggle-file-symbols keybinding
    'cmd-r': 'narrow:symbols'

'atom-text-editor.vim-mode-plus.operator-pending-mode.toggle-line-comments-pending':
  'c': 'vim-mode-plus:toggle-line-comments'

# visual mode bindings
'atom-text-editor.vim-mode-plus.visual-mode':
    # vim-surround
    'S': 'vim-mode-plus:surround'

# narrow-ui
# =========
'atom-text-editor.narrow.narrow-editor[data-grammar="source narrow"],
 atom-text-editor.narrow.narrow-editor.vim-mode-plus.insert-mode[data-grammar="source narrow"]':
     'ctrl-j': 'narrow-ui:preview-next-item'
     'ctrl-k': 'narrow-ui:preview-previous-item'

     # Danger: apply change on narrow-editor to real file by `cmd-s`.
     'cmd-s': 'narrow-ui:update-real-file'

# fuzzy-finder
# ============
'.fuzzy-finder':
    'ctrl-v': 'pane:split-right'
    'ctrl-s': 'pane:split-down'
    'ctrl-j': 'core:move-down'
    'ctrl-k': 'core:move-up'
    'ctrl-g': 'core:cancel'

# project-manager
# ===============
'.project-manager':
    'ctrl-j': 'core:move-down'
    'ctrl-k': 'core:move-up'
    'ctrl-g': 'core:cancel'

# autocomplete-plus
# =================
'atom-text-editor.autocomplete-active':
    'ctrl-j': 'autocomplete-plus:move-down'
    'ctrl-k': 'autocomplete-plus:move-up'
    'ctrl-g': 'autocomplete-plus:cancel'

# command-palette
# ===============
'.command-palette':
    'ctrl-j': 'core:move-down'
    'ctrl-k': 'core:move-up'
    'ctrl-g': 'core:cancel'

# emmet
# =====
# TODO: fix so that snippets and emmet work nicely together
# emmet support for jsx
# 'atom-text-editor[data-grammar="source js jsx"]:not([mini])':
#     'tab': 'emmet:expand-abbreviation-with-tab'

# tree-view
# =========
'.tree-view':
    # focus-pane-or-panel navigation
    'ctrl-h': 'focus-pane-or-panel:focus-on-left'
    'ctrl-l': 'focus-pane-or-panel:focus-on-right'
    # bindings duplicated in .tree-view and vim-mode-plus:not(.insert-mode)
    # so they are not active in `/` container, `file-finder` container etc
    'space e': 'tree-view:toggle'
    'space f': 'fuzzy-finder:toggle-file-finder'

    'v': 'tree-view:open-selected-entry-right'
    's': 'tree-view:open-selected-entry-down'
    'r': 'tree-view:show-in-file-manager'
    'g g': 'core:move-to-top'
    'G': 'core:move-to-bottom'
    'o': 'tree-view:open-selected-entry'
    'O': 'tree-view:recursive-expand-directory'
    'x': 'tree-view:collapse-directory'
    'X': 'tree-view:recursive-collapse-directory'

# focus-pane-or-panel navigation for cmd-f panel
'.platform-darwin .find-and-replace atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'

# focus-pane-or-panel navigation for cmd-shift-f panel
'.platform-darwin .project-find atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'
